{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python Developer Portfolio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>






<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ">
        <h1 class="text-center">Evgeny Artemev</h1>
        <h2 class="text-center">Python Developer</h2>
        <hr>
        <h3>Summary:</h3>
        <p>
          Passionate Python developer, having several personal projects in the fields of web development and machine learning. Main priorities are: Django, MySQL, TensorFlow.
        </p>

        <h3>Key Skills:</h3>
        <ul>
          <li>Web development: built a copy of a popular eCommerce website 'Avito' using Django. Dynamic web pages were created to handle user interactions.</li>
          <li>Database management: utilized MySQL to store the scraped data. I have experience in working with databases, including creating tables, inserting data, and querying information.</li>
          <li>Web scraping and data parsing: have experience in scraping and parsing data with Selenium and BeautifulSoup from web-sites.</li>
          <li>Computer vision: worked with OpenCV, using it to capture and process frames from a webcam.</li>
          <li>Object detection and tracking: implemented YOLO (You Only Look Once), a popular deep learning algorithm and Deep SORT (Simple Online and Realtime Tracking)</li>
          <li>Data visualization: used Matplotlib, a data visualization library, to create graphs of road traffic based on the collected data.</li>
          <li>Machine learning: trained neural networks in TensorFlow on MNIST dataset to recognize handwritten letters and digits. </li>
          <li>Ubuntu: comfortable working with the Ubuntu operating system and have a strong understanding of its command-line interface.</li>
          <li>SSH, VPS: have experience using SSH (Secure Shell) to remotely access and manage VPS servers. </li>
          <li>PIP, venv:  use pip to install, update, and manage Python libraries. Use virtual environments  to create isolated Python environments for different projects.</li>
          <li>GIT: have understanding of the fundamental concepts of version control, such as repositories, commits, branches, and merges.</li>
        </ul>

        <h3>Education:</h3>
        <p>
          <strong>Master's Degree in engineering</strong><br>
          Ufa State Aviation Technical University<br>
          - Relevant coursework: C++ programming course
        </p>
        <h3>Projects:</h3>
        <ol>
          <li>
            <strong>YOLOv8 + DeepSort. Traffic analysis</strong><br>
            - Traffic analyzer app. Cars from a public webcam are detected, tracked, counted and stored into database. Data visualised with graphs.<br>
            - Technologies used: Opencv, Pytorch, YOLO, Deep Sort, MySQL, Pyplot 
          </li>
          <li>
            <strong>Django + MySQL web-app</strong><br>
            - A copy of a popular eCommerce web-site Avito.ru with scraped and parsed database.<br>
            - Technologies used: Django, MySQL, Selenium, Beautifulsoup, Bootstrap, HTML/CSS, JavaScript
          </li>
        </ol>
        <h3>Certifications:</h3>
        <ul>
          <li>IELTS, Score (9/9/7/7), [2018]</li>
        </ul>

      </div>
      <div class="col-md-4 mt-4">
        <section id="projects">
          <h2>Projects</h2>
          <div class="row">

              <strong>YOLOv8 + DeepSort. Traffic analysis</strong>
              <a href="/opencv/" class="btn btn-primary ml-3" style="width: 40%;">View Project</a>

              <p>       </p>
              <strong>Django + MySQL. eCommerce web-app</strong>
              <a href="/avito/" class="btn btn-primary ml-3" style="width: 40%;">View Project</a>

          </div>
        </section>

        <section id="contact" class = "mt-4">
          <h2>Contact</h2>
          <p>Email: evgen422@gmail.com</p>
          <p>GitHub: <a href="https://github.com/evgen422/">Link</a></p>
          <p>Telegramm: <a href="https://t.me/evgen422">Link</a></p>
          <img src="{% static 'qr.jpg' %}" alt="qr" class="img-fluid">

        </section>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}