html, body {
  height: 100%;
  margin: 10;
}
.container {
  display: flex;
}

.column left {
  flex-basis: 0%;
  border: 1px solid black; /* add border to columns */
  background: #fc0;
}

.car { 
width: 200px; 
background: #fc0; 
padding: 5px; 
border: solid 1px black; 
float: left; 
position: relative; 
top: 40px; 
left: -70px; 
}