<!DOCTYPE html>


{% block content %}

<form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

    <div class="container">
        <h2>Choose a make:</h2>
        <form method="post">
            {% csrf_token %}
            <select name="make">
                {% for car in cars %}
                    <option value="{{ car.make }}">{{ car.make }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
        
        {% if product %}
            <div class="card">
                <img src="{{ car.image.url }}" alt="{{ car.make }}" style="width:100%">
                <div class="container">
                    <h4><b>{{ car.make }}</b></h4>
                    <p>{{ car.model }}</p>
                    <p>Price: ${{ car.price }}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% load static %}
