.result_left_col {
            background-color: red;/*lightblue;*/
            }

        .card-container {
          display: flex;
          justify-content: center;
          margin: 1rem;
        }

        .card {
          max-width: 100%;
          display: flex;
          flex-direction: row;
          padding: 1rem;
          border: 1px solid #e5e5e5;
          border-radius: 0.25rem;
          overflow: hidden;
        }

        .card-img-top {
          width: 40%;
          height: auto;
          object-fit: contain;

        }

        .card-body {
          flex: 1;
        }

        .card-text {
          max-height: 100px;
          overflow: hidden;
        }

        @media screen and (min-width: 576px) {
          .card {
            max-width: 540px;
          }
        }

        @media screen and (min-width: 768px) {
          .card {
            max-width: 720px;
          }
        }

        @media screen and (min-width: 992px) {
          .card {
            max-width: 960px;
          }
        }

        @media screen and (min-width: 1200px) {
          .card {
            max-width: 1140px;
          }
        }