{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<head>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>

<body>
    <video id="video" controls></video>
</body>

<script>
  if (Hls.isSupported()) {
    var video = document.getElementById('video');
    var hls = new Hls();
    hls.loadSource('http://95.140.153.88:8080/opencv/index.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, function() {
      video.play();
    });
  }
</script>
  

{% endblock %}