{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}
</form>
<!DOCTYPE html>
<html>
    <head>
        <title>OpenCV Video Stream</title>
    </head>
    <body>
        <h1>OpenCV Video Stream</h1>
        <img src="{% url 'video_feed'  user_id=user_id %}" />
    </body>
</html>

<script type="text/javascript">
  function sendPing() {
    $.ajax({
      type: "POST",
      url: "{% url 'ping' %}",
      data: { 
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'ping': 'ping',
        'user_id': '{{ user_id }}',
      }
    });
  }

  // Call sendPing() every 10 seconds
  setInterval(sendPing, 900);

  // Get the user ID from the HTML template
  var userId = "{{ user_id }}";

  // Log the user ID to the console
  console.log("User ID:", userId);
</script>

{% endblock %}