<!--form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form-->

<!--cut off action="/your-name/"-->

<form  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>



<h1>Cars</h1>

<ul>
  {% for car in cars %}
    <li>{{ car.make }} - {{ car.model }}</li>
  {% empty %}
    <li>No cars found.</li>
  {% endfor %}
</ul>



