<!--form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form-->

<!--cut off action="/your-name/"-->
<p>Make: {{ make }}!</p>

<form  method="post">
    {% csrf_token %}
    <div>
      <label for="{{ form.make.id_for_make }}">Make:</label>
      {{ form.make }}
    </div>
    <div>
      <label for="{{ form.model.id_for_label }}">Model:</label>
      {{ form.model }}
    </div>

    <input type="submit" value="Submit">
</form>



<h1>Cars</h1>

<ul>
  {% for car in cars %}
    <li>{{ car.make }} - {{ car.model }}</li>
  {% empty %}
    <li>No cars found.</li>
  {% endfor %}
</ul>



