{% extends 'base.html' %}
{% load static %}
{% block content %}
</form-->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>
</head>
<!--cut off action="/your-name/"-->
<!--p>Make: {{ make }}!</p-->

<div class="container">
  <div class="column">
  <form  method="post">
      {% csrf_token %}
      <div>
        <label for="{{ form.city.id_for_city }}">City:</label>
        {{ form.city }}
      </div>
      <div>
        <label for="{{ form.make.id_for_make }}">Make:</label>
        {{ form.make }}
      </div>
      <div>
        <label for="{{ form.model.id_for_label }}">Model:</label>
        {{ form.model }}
      </div>
      <div>
        <label for="{{ form.year.id_for_make }}">Year:</label>
        {{ form.year }}
      </div>
      <div>
        <label for="{{ form.mileage.id_for_make }}">Mileage:</label>
        {{ form.mileage }}
      </div>
      <div>
        <label for="{{ form.power.id_for_make }}">Power:</label>
        {{ form.power }}
      </div>
          <div>
        <label for="{{ form.price.id_for_make }}">Price:</label>
        {{ form.price }}
      </div>
      <div>
        <label for="{{ form.type.id_for_make }}">Type:</label>
        {{ form.type }}
      </div>
      <div>
        <label for="{{ form.wd.id_for_make }}">Wd:</label>
        {{ form.wd }}
      </div>
      <div>
        <label for="{{ form.fuel.id_for_make }}">Fuel:</label>
        {{ form.fuel }}
      </div>

      <input type="submit" value="Submit">
  </form>
  </div>
  <div class="column middle">
    <!--h1>Cars</h1-->
    <div class="cars">
      {% for car in cars %}
        <img src="{% url 'your_app_name:image_serve' id=your_image_id %}">
        <div class="car">{{ car.make }} - {{ car.model }} - {{ car.year }} - {{ car.city }} - {{ car.mileage }} - {{ car.power }} - {{ car.price }} - {{ car.type }} - {{ car.wd }} - {{ car.fuel }}</div>
      {% empty %}
        <li>No cars found.</li>
      {% endfor %}
    </div>
  </div>
  <div class="column"></div>
                   
</div>
</body>
</html>

{% endblock %}



